@model AulaDataAnnotation.Models.LocacaoLivro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LocacaoLivro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeLivro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeLivro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtSaida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtSaida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtRetorno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtRetorno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LocacaoLivroID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
