@{
    ViewBag.Title = "Login";
}

<h2>Acesso</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.Label("Usuário")
        @Html.TextBox("username")
    </div>
    <div>
        @Html.Label("Senha")
        @Html.Password("password")
    </div>
    <button type="submit">Entrar</button>
}

@if(ViewBag.Fail != null)
{
    <div class="alert alert-danger ">Usuário ou Senha Incorretos!</div>
}

<p>@ViewBag.Message</p>